body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 0%; transform: translate(-50%, -0%) }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }

/* 追加 */

/* WebGLの親になるdiv要素のプロパティ */
#gameContainer-wrapper { /* id名"gameContainer-wrapper"のdiv要素 */
	position: relative; /* 相対値にレイアウト */
	width: 100%;  幅指定
    /* height: 100%; */
	}
/* WebGLの親になるdiv要素の前に付ける疑似要素のプロパティ */
#gameContainer-wrapper:before { /* div要素の前に追加するので":before”を指定 */
	content: ""; /* 疑似要素の内容。空にするので"" */
	display: block; /* 疑似要素をブロック要素にする */
	padding-top: 56.25%; /* div要素の幅に対する高さの比率 */
	}
/* WebGLを表示する要素のプロパティ */
#gameContainer {
	position: absolute; /* 絶対位置にレイアウト */
	top: 0; /* 垂直位置指定 */
	left: 0; /* 水平位置指定 */
	width: 100%;  /* 幅指定 */
	height: 100%; /* 高さ指定 */
　}

/* WebGLを表示するdiv要素"gameContainer"とdiv要素"footer"を包むdiv要素 */
.webgl-content {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%; /* 追加したプロパティ：幅を指定 */
}